{% set active = 'categories' %}
{% extends 'DevyUkrBookBundle::administrator.layout.html.twig' %}

{% block title %}
  {{ entity.title }}
{% endblock %}

{% block body -%}
  <style>
    img {
      max-height: 150px;
      max-width: 150px;
    }
  </style>
  <h1>Edit '{{ entity.title }}'</h1>

  {{ form_start(form) }}
  {{ form_widget(form) }}
  <div class="btn-group pull-right">
    <a class="btn btn-info btn-lg" href="{{ url('category_show', {id: entity.id }) }}">Back</a>
    <input type="submit" value="Update" class="btn btn-success btn-lg">
  </div>
  {{ form_end(form) }}
{% endblock %}
