{% set active = 'catalog' %}
{% extends 'DevyUkrBookBundle::administrator.layout.html.twig' %}

{% block title %}
  Categories
{% endblock %}

{% block body -%}
  <style>
    h3 {
      margin: 0;
    }

    img {
      max-width: 100px;
      max-height: 100px;
    }
  </style>

  <table class="records_list table table-striped">
    <caption>
      <h3 class="pull-left">Top level categories</h3>
      <a class="btn btn-primary pull-right" href="{{ path('category_new') }}">
        <i class="glyphicon glyphicon-plus"></i>
      </a>
    </caption>
    <thead>
    <tr>
      <th>Id</th>
      <th>Title</th>
      <th>Image</th>
      <th>Description</th>
      <th>Is_active</th>
      <th>Created_at</th>
      <th>Updated_at</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
      <tr>
        <td><a href="{{ path('category_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
        <td>{{ entity.title }}</td>
        <td>
          {% if entity.image and entity.image.webPath %}
            <img src="{{ asset(entity.image.webPath) }}">
          {% endif %}
        </td>
        <td>{{ entity.description }}</td>
        <td><i class="glyphicon {{ entity.isActive ? 'glyphicon-check' : 'glyphicon-unchecked' }}"></i></td>
        <td>{% if entity.createdat %}{{ entity.createdat|date('Y-m-d H:i:s') }}{% endif %}</td>
        <td>{% if entity.updatedat %}{{ entity.updatedat|date('Y-m-d H:i:s') }}{% endif %}</td>
        <td>
          <div class="btn-group">
            <a class="btn btn-sm btn-success" href="{{ path('category_show', { 'id': entity.id }) }}">
              <i class="glyphicon glyphicon-folder-open"></i>
              show
            </a>
            <a class="btn btn-sm btn-info" href="{{ path('category_edit', { 'id': entity.id }) }}">
              <i class="glyphicon glyphicon-pencil"></i>
              edit
            </a>
          </div>
        </td>
      </tr>
    {% else %}
      <tr>
        <td colspan="7">
          <div class=" alert alert-info ">
            There are no categories.
            <a class="alert-link" href="{{ path('category_new') }}">
              Create a new one
            </a>.
          </div>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

  <div class="alert alert-info">
    To create a new product, select an existing category, or
    <a class="alert-link" href="{{ path('category_new') }}">
      create a new one.
    </a>
  </div>
{% endblock %}
