{% set active = 'categories' %}
{% extends 'DevyUkrBookBundle::administrator.layout.html.twig' %}

{% block title %}
  {{ entity.title }}
{% endblock %}

{% block body -%}
  <style>
    h3 {
      margin: 0;
    }
    img {
      max-width: 200px;
      max-height: 200px;
    }
  </style>

  <h2>{{ entity.title }}</h2>
  {% if entity.image.webPath %}
    <img src="{{ asset(entity.image.webPath) }}">
  {% endif %}

  <table class="records_list table">
    <caption>
      <h3>Child categories</h3>
      <a class="btn btn-primary pull-right" href="{{ path('category_new_child', { parent_id: entity.id }) }}">
        <i class="glyphicon glyphicon-plus"></i>
      </a>
    </caption>
    <thead>
    <tr>
      <th>Id</th>
      <th>Title</th>
      <th>Description</th>
      <th>Is_active</th>
      <th>Created_at</th>
      <th>Updated_at</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    {% for child in entity.children %}
      <tr>
        <td><a href="{{ path('category_show', { 'id': child.id }) }}">{{ child.id }}</a></td>
        <td>{{ child.title }}</td>
        <td>{{ child.description }}</td>
        <td><i class="glyphicon {{ child.isActive ? 'glyphicon-check' : 'glyphicon-unchecked' }}"></i></td>
        <td>{% if child.createdat %}{{ entity.createdat|date('Y-m-d H:i:s') }}{% endif %}</td>
        <td>{% if child.updatedat %}{{ entity.updatedat|date('Y-m-d H:i:s') }}{% endif %}</td>
        <td>
          <div class="btn-group">
            <a class="btn btn-success btn-sm" href="{{ path('category_show', { 'id': child.id }) }}">
              <i class="glyphicon glyphicon-folder-open"></i>
              show
            </a>
            <a class="btn btn-info btn-sm" href="{{ path('category_edit', { 'id': child.id }) }}">
              <i class="glyphicon glyphicon-pencil"></i>
              edit
            </a>
          </div>
        </td>
      </tr>
    {% else %}
      <tr>
        <td colspan="7">
          <div class=" alert alert-info ">
            This category has no sub-categories.
            <a href="{{ path('category_new_child', { parent_id: entity.id }) }}" class="alert-link">
              Create a new one
            </a>.
          </div>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

  <table class="records_list table">
    <caption>
      <h3>Products in {{ entity.title }}</h3>
      <a class="btn btn-primary pull-right" href="{{ url('product_new_category', { category_id: entity.id }) }}">
        <i class="glyphicon glyphicon-plus"></i>
      </a>
    </caption>
    <thead>
    <tr>
      <th>Id</th>
      <th>Title</th>
      <th>Description</th>
      <th>Is_active</th>
      <th>Created_at</th>
      <th>Updated_at</th>
      <th>Price</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    {% for product in entity.products %}
      <tr>
        <td><a href="{{ path('product_show', { 'id': product.id }) }}">{{ product.id }}</a></td>
        <td>{{ product.title }}</td>
        <td>{{ product.description }}</td>
        <td><i class="glyphicon {{ product.isActive ? 'glyphicon-check' : 'glyphicon-unchecked' }}"></i></td>
        <td>{% if product.createdat %}{{ product.createdat|date('Y-m-d H:i:s') }}{% endif %}</td>
        <td>{% if product.updatedat %}{{ product.updatedat|date('Y-m-d H:i:s') }}{% endif %}</td>
        <td>{{ product.price }}</td>
        <td>
          <div class="btn-group">
            <a class="btn btn-success btn-sm" href="{{ path('product_show', { 'id': product.id }) }}">
              <i class="glyphicon glyphicon-folder-open"></i>
              show
            </a>
            <a class="btn btn-info btn-sm" href="{{ path('product_edit', { 'id': product.id }) }}">
              <i class="glyphicon glyphicon-pencil"></i>
              edit
            </a>
          </div>
        </td>
      </tr>
    {% else %}
      <tr>
        <td colspan="8">
          <div class=" alert alert-info ">
            This category has no products.
            <a href="{{ url('product_new_category', { category_id: entity.id }) }}" class="alert-link">
              Create a new one
            </a>
          </div>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

  <div class="btn-group pull-right">
    <a class="btn btn-default btn-lg"
       href="{{ entity.parent ? path('category_show', { id: entity.parent.id }) : path('category') }}">
      <i class="glyphicon glyphicon-arrow-left"></i>
      Back
    </a>
    <a class="btn btn-info btn-lg" href="{{ path('category_edit', { 'id': entity.id }) }}">
      <i class="glyphicon glyphicon-pencil"></i>
      Edit
    </a>
  </div>
{% endblock %}
