{% set active = 'posts' %}
{% extends 'DevyUkrBookBundle::administrator.layout.html.twig' %}

{% block title %}
  Posts
{% endblock %}

{% block body -%}
  <table class="records_list table">
    <caption>
      <h3>Posts</h3>
      <a class="btn btn-primary pull-right" href="{{ path('post_new') }}">
        <i class="glyphicon glyphicon-plus"></i>
      </a>
    </caption>
    <thead>
    <tr>
      <th>Id</th>
      <th>Title</th>
      <th>Is active</th>
      <th>Text</th>
      <th>Created_at</th>
      <th>Updated_at</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
      <tr>
        <td>{{ entity.id }}</td>
        <td>{{ entity.title }}</td>
        <td><i class="glyphicon {{ entity.isActive ? 'glyphicon-check' : 'glyphicon-unchecked' }}"></i></td>
        <td>{{ entity.text }}</td>
        <td>{% if entity.createdat %}{{ entity.createdat|date('Y-m-d H:i:s') }}{% endif %}</td>
        <td>{% if entity.updatedat %}{{ entity.updatedat|date('Y-m-d H:i:s') }}{% endif %}</td>
        <td>
          <div class="btn-group">
            <a class="btn btn-sm btn-info" href="{{ path('post_edit', { 'id': entity.id }) }}">
              <i class="glyphicon glyphicon-pencil"></i>
              edit
            </a>
          </div>
        </td>
      </tr>
    {% else %}
      <tr>
        <td colspan="7">
          <div class=" alert alert-info ">
            There are no posts.
            <a class="alert-link" href="{{ path('post_new') }}">
              Create a new one
            </a>.
          </div>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock %}
