{% set active = 'posts' %}
{% extends 'DevyUkrBookBundle::administrator.layout.html.twig' %}

{% block title %}
  {{ entity.title }}
{% endblock %}

{% block body -%}
  <table class="record_properties table">
    <caption><h3>{{ entity.title }}</h3></caption>
    <tbody>
    <tr>
      <th>Id</th>
      <td>{{ entity.id }}</td>
    </tr>
    <tr>
      <th>Title</th>
      <td>{{ entity.title }}</td>
    </tr>
    <tr>
      <th>Text</th>
      <td>{{ entity.text }}</td>
    </tr>
    <tr>
      <th>Created_at</th>
      <td>{{ entity.createdat|date('Y-m-d H:i:s') }}</td>
    </tr>
    <tr>
      <th>Updated_at</th>
      <td>{{ entity.updatedat|date('Y-m-d H:i:s') }}</td>
    </tr>
    </tbody>
  </table>

  <ul class="record_actions">
    <li>
      <a class="btn btn-default" href="{{ path('post') }}">
        Back to the list
      </a>
    </li>
    <li>
      <a class="btn btn-default" href="{{ path('post_edit', { 'id': entity.id }) }}">
        Edit
      </a>
    </li>
    <li>{{ form(delete_form) }}</li>
  </ul>
{% endblock %}
