<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
              aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ url('admin_default') }}">Back Office</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="{{ active == 'catalog' ? 'active' }}">
          <a href="{{ url('category') }}">Catalog</a>
        </li>
        <li class="{{ active == 'brands' ? 'active' }}">
          <a href="{{ url('brand') }}">Brands</a>
        </li>
        <li class="{{ active == 'attributes' ? 'active' }}">
          <a href="{{ url('attribute') }}">Attributes</a>
        </li>
        <li class="{{ active == 'posts' ? 'active' }}">
          <a href="{{ url('post') }}">Posts</a>
        </li>
        <li class="{{ active == 'subscribers' ? 'active' }}">
          <a href="{{ url('subscribers') }}">Subscribers</a>
        </li>
        <li class="{{ active == 'shopinfo' ? 'active' }}">
          <a href="{{ url('shopinfo_edit') }}">Shop info</a>
        </li>
        <li class="{{ active == 'orders' ? 'active' }}">
          <a href="{{ url('orders') }}">Orders</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="{{ path('home') }}">Go to shop</a>
        </li>
        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
          <li>
            <a class="link" href="{{ path('logout') }}">Logout</a>
          </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
