{% set active = 'attributes' %}
{% extends 'DevyUkrBookBundle::administrator.layout.html.twig' %}

{% block title %}
  Attributes
{% endblock %}

{% block body -%}
  <table class="records_list table">
    <caption>
      <h3>Attributes</h3>
      <a class="btn btn-primary pull-right" href="{{ path('attribute_new') }}">
        <i class="glyphicon glyphicon-plus"></i>
      </a>
    </caption>
    <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Is_active</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
      <tr>
        <td>{{ entity.id }}</td>
        <td>{{ entity.name }}</td>
        <td><i class="glyphicon {{ entity.isActive ? 'glyphicon-check' : 'glyphicon-unchecked' }}"></i></td>
        <td>
          <div class="btn-group">
            <a class="btn btn-sm btn-info" href="{{ path('attribute_edit', { 'id': entity.id }) }}">
              <i class="glyphicon glyphicon-pencil"></i>
              edit
            </a>
          </div>
        </td>
      </tr>
    {% else %}
      <tr>
        <td colspan="4">
          <div class=" alert alert-info ">
            There are no attributes.
            <a class="alert-link" href="{{ path('attribute_new') }}">
              Create a new one
            </a>.
          </div>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock %}
