{% set active = 'categories' %}
{% extends 'DevyFrontendBundle::products_page.html.twig' %}

{% block title %}
  {% if category.pageTitle %}
    {{ category.pageTitle }}
  {% else %}
    {{ category.title }}
  {% endif %}
{% endblock %}

{% block marketing %}
  {% if category.image and category.image.webPath %}
    <img class="img-rounded category-logo" src="{{ asset(category.image.webPath) }}" alt="{{ category.title }}">
  {% endif %}
  <h1>{{ category.title }}</h1>
  <p class="lead">{{ category.description }}</p>
  <hr>
  {% include 'DevyFrontendBundle::partial_products_block.html.twig' with { 'products': category.activeProducts } %}
{% endblock %}
