{% set active = 'contact' %}
{% extends 'DevyFrontendBundle::base.html.twig' %}

{% block stylesheets %}
  {{ parent() }}
  <link rel="stylesheet" href="{{ asset('bundles/devyfrontend/css/carousel.css') }}">
{% endblock %}

{% block body %}
  <div class="container content">
    <h1>Contact</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit" class="btn btn-success btn-lg">Send</button>
    {{ form_end(form) }}
  </div>
{% endblock %}
