{% extends 'DevyFrontendBundle::base.html.twig' %}

{% block title %}
  Home
{% endblock %}

  {% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/devyfrontend/css/carousel.css') }}">
  {% endblock %}

{% block body %}
  {% if posts|length > 0 %}
  <div id="posts-carousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      {% for post in posts %}
        <li data-target="#posts-carousel" data-slide-to="{{ loop.index - 1 }}" class="{{ loop.index == 1 ? 'active' }}">
        </li>
      {% endfor %}
    </ol>
    <div class="carousel-inner" role="listbox">
      {% for post in posts %}
        <div class="item {{ loop.index == 1 ? 'active' }}">
          <img src="data:image/gif;base64,R0lGODlhAQABAIAAAGZmZgAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
               alt="Second slide">

          <div class="container">
            <div class="carousel-caption">
              <h1>{{ post.title }}</h1>

              <p>
                {{ post.text[:320] }}
                {% if post.text|length > 320 %}
                  ...
                  {# TODO links for posts #}
                  <a class="btn btn-primary btn-xs" href="#">Read more</a>
                {% endif %}
              </p>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
    <a class="left carousel-control" href="#posts-carousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#posts-carousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
{% endif %}
{% endblock %}
