{% set row_count = row_count is defined ? row_count : 3 %}
{% for product in products %}
  {# TODO again links #}
  {% if loop.first or loop.index0 % row_count == 0 %}
    <div class="row">
  {% endif %}

  <div class="{{ col is defined ? col : 'col-md-4' }}">
    <div class="thumbnail item">
      {% if product.image and product.image.webPath %}
        <img class="img-circle" src="{{ asset(product.image.webPath) }}" alt="{{ product.title }}">
      {% else %}
        <img class="img-circle"
             src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
             alt="Generic placeholder image">
      {% endif %}
      <div class="caption">
      <h2>{{ product.title }}</h2>

      <p><b>{{ product.price|number_format(2, '.', ',') }} грн.</b></p>

      <p>{{ product.description }}</p>

      <div class="btn-group-sm">
        <a href="#" class="btn btn-info">
          <i class="glyphicon glyphicon-eye-open"></i>
          Show
        </a>
        <a href="{{ path('add_to_cart', { 'productId': product.id }) }}" class="btn btn-success add-to-cart">
          <i class="glyphicon glyphicon-shopping-cart"></i>
          Add to cart
        </a>
      </div>
      </div>
    </div>
  </div>

  {% if loop.last or loop.index0 % row_count == row_count - 1 %}
    </div>
  {% endif %}
{% endfor %}
