{% for product in products %}
  {# TODO again links #}
  {% if loop.first or loop.index0 % 3 == 0 %}
    <div class="row">
  {% endif %}

  <div class="col-lg-4">
    <div class="thumbnail item">
      {% if product.image and product.image.webPath %}
        <img class="img-circle" src="{{ asset(product.image.webPath) }}" alt="{{ product.title }}">
      {% else %}
        <img class="img-circle"
             src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
             alt="Generic placeholder image">
      {% endif %}
      <h2>{{ product.title }}</h2>

      <p><b>{{ product.price|number_format(2, '.', ',') }} грн.</b></p>

      <p>{{ product.description }}</p>

      <div class="btn-group-sm">
        <a href="#" class="btn btn-info">
          <i class="glyphicon glyphicon-eye-open"></i>
          Show
        </a>
        <a href="{{ path('add_to_cart', { 'productId': product.id }) }}" class="btn btn-success add-to-cart">
          <i class="glyphicon glyphicon-shopping-cart"></i>
          Add to cart
        </a>
      </div>
    </div>
  </div>

  {% if loop.last or loop.index0 % 3 == 2 %}
    </div>
  {% endif %}
{% endfor %}
{% if pagination is defined and pagination == true %}
  {% set max_pages = category.activeProducts|length / limit %}
  {% set max_pages = max_pages|round %}
  {% set max_pages = max_pages > 1 ? max_pages : 1 %}
  <nav class="text-center">
    <ul class="pagination">
      <li class="{{ page == 1 ? 'disabled' }}">
        <a href="{{ path('front_category', {
        'categoryId': category.id,
        'page': page - 1,
        'limit': limit,
        'sort': sort }) }}">
          <i class="glyphicon glyphicon-chevron-left"></i>
        </a>
      </li>
      {% for i in 1..max_pages %}
        <li class="{{ i == page ? 'active' }}">

          <a href="{{ path('front_category', {
          'categoryId': category.id,
          'page': i,
          'limit': limit,
          'sort': sort }) }}">
            {{ i }}
          </a>
        </li>
      {% endfor %}
      <li class="{{ page == max_pages ? 'disabled' }}">
        <a href="{{ path('front_category', {
        'categoryId': category.id,
        'page': page + 1,
        'limit': limit,
        'sort': sort }) }}">
          <i class="glyphicon glyphicon-chevron-right"></i>
        </a>
      </li>
    </ul>
  </nav>
{% endif %}
