{% extends 'DevyFrontendBundle::base.html.twig' %}

{% block stylesheets %}
  {{ parent() }}
  <link rel="stylesheet" href="{{ asset('bundles/devyfrontend/css/carousel.css') }}">
  <link rel="stylesheet" href="{{ asset('bundles/devyfrontend/css/item_cards.css') }}">
  <link rel="stylesheet" href="{{ asset('bundles/devyfrontend/css/menu.css') }}">
{% endblock %}

{% macro category_list_item(category) %}
  <a href="{{ url('front_category', { 'categoryId': category.id }) }}">
    <i class="glyphicon glyphicon-folder-open"></i>
    {{ category.title }}
  </a>
  {% if category.activeNotEmptyChildren %}
    <ul class="list-group">
      {% for child in category.activeNotEmptyChildren %}
        <li class="list-group-item">
          {{ _self.category_list_item(child) }}
        </li>
      {% endfor %}
    </ul>
  {% endif %}
{% endmacro %}

{% block body %}
  <div class="container content">
    <div class="row row-offcanvas row-offcanvas-left">
      <div class="col-xs-6 col-sm-3 sidebar-offcanvas">
        <ul class="list-group panel panel-primary">
          <div class="panel-heading"><h4>Categories</h4></div>
          {% for child in categories %}
            <li class="list-group-item">
              {{ _self.category_list_item(child) }}
            </li>
          {% endfor %}
        </ul>
        <ul class="list-group panel panel-primary">
          <div class="panel-heading"><h4>Brands</h4></div>
          {% for brand in brands %}
            <li class="list-group-item">
              <a href="{{ path('front_brand', { 'brandId': brand.id }) }}">
                <i class="glyphicon glyphicon-folder-open"></i>
                {{ brand.name }}
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>
      <div class="col-xs-12 col-sm-9 marketing">
        {% block marketing %}
          <h1>{{ post.title }}</h1>
          <p>{{ post.formattedText|raw }}</p>
        {% endblock %}
      </div>
    </div>
  </div>
{% endblock %}
